@page "/"

@inherits ViewComponentBase<JudgeResultViewModel>


<div class="row">
    <div class="col-2">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Refresh</InputButton>
    </div>
</div>
<br />
<br />
<h2>2022年8月生産実績</h2>
<br />
<div class=" container">
    <div class="row">
        <div class="col-8">
            <div class="card">
                <h5 class="card-title">検査統計</h5>
                <h6 class="card-subtitle">OK数とNG数の統計を2週間分表示しています。</h6>
                <div class="canvas-middleContainer">
                    <Chart id="chart1" ItemsSource="@DataContext.ChartItems" />
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="card small">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <h5 class="card-title">検査部位分布</h5>
                            <h6 class="card-subtitle">欠陥の発生個所の分布を表示しています。</h6>
                        </div>
                    <div class="col-md-6">
                        <Chart id="chart3" ItemsSource="@DataContext.ChartItems3" />
                    </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="card-small">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <h5 class="card-title">品種別分布</h5>
                            <h6 class="card-subtitle">品種別の欠陥種類分布を表示しています。</h6>
                        </div>
                        <div class="col-md-6">
                            <Chart id="chart4" ItemsSource="@DataContext.ChartItems4" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-12">
            <h3>欠陥種類別統計</h3>
            <p>欠陥別にNG数の推移を2週間分表示しています。</p>
            <Chart id="chart2" ItemsSource="@DataContext.ChartItems2" />
        </div>
    </div>
    <br />
    <br />

    <div class="row">
        <EditForm Model="@DataContext">
            <InputSelect @bind-Value="DataContext.GraphKind">
                @foreach(var kind in DataContext.KindSelectList)
                {
                    <option>@kind</option>
                }
            </InputSelect>
        </EditForm>
        <h3>動的切替表示</h3>
        <Chart id="chart5" ItemsSource="@DataContext.ChartItems5" />
    </div>
</div>



<style>
    #primaryEditorContainer {
        display: grid;
        width: 100%;
        height: 100vh;
        max-height: 100vh;
        grid-template-columns: 1fr 1fr;
        margin: 0px;
        padding: 6px 12px;
    }
</style>

@code {
    public int test { get; set; } = 0;
}