@page "/sampleGraph"

@inherits ViewComponentBase<SampleGraphViewModel>

<h3>SampleGraph</h3>

<div class="container" style="padding:10px">
    <div class="row">
        <InputButton Class="btn btn-primary" Command="@DataContext.CreateChartCommand">Refresh</InputButton>
    </div>

    <div class="row">
        <div class="col">
            <div class="middle-chart card">
                <Chart id="barchart" ItemsSource="@DataContext.BarChartItems"/>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="small-chart card">
                    <Chart id="piechart" ItemsSource="@DataContext.PieChartItems"/>
                </div>
            </div>
            <div class="row">
                <div class="small-chart card">
                    <Chart id="radarchart" ItemsSource="@DataContext.RadarChartItems"/>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="full-chart card">
            <Chart id="linechart" ItemsSource="@DataContext.LineChartItems"/>
        </div>
    </div>
</div>

@code {

}
